body {
  background-color: #000;
  background: url("background.jpg") fixed no-repeat;
  background-size: cover;
}
.text {
  @import url(https://fonts.googleapis.com/css?family=Roboto:400, 100, 900);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
}
a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px 0px white;
}
a:hover {
  text-shadow: 0px 0px 18px white;
  transition-duration: 0.1s;
}

.video-js {
  border: 1px solid white;
  background: #fff; /* Цвет фона */
  padding: 1px; /* Поля вокруг текста */
  align-content: center;
}
