*:focus {
  outline: none;
}

body {
  background-image: radial-gradient(
    ellipse at top,
    rgba(32, 45, 58, 1),
    rgb(0, 0, 0)
  );
}

iframe {
  border: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: rgb(34, 34, 34);
  border: white solid 2px;
}

/*  */

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #000000;
  background-color: #fff;
  border: white solid 2px;
}

li {
  width: 639px;
  font-size: 36px;
}

table {
  padding-bottom: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.151);
  border-top: 0;
  border-radius: 0 10px 0 0;
}

a,
a:hover,
a:focus {
  color: #212121;
}
a:hover,
a:focus {
  color: #212121;
}

.nav > li > a {
  text-decoration: none;
  background-color: #eee;
  height: 80px;
  display: flex;
  place-items: center;
  justify-content: center;
}

@media (max-width: 1300px) {
  table {
    margin-top: 50px;
  }
  body {
    background: #000;
  }
  .nav {
    margin-top: -50px;
  }
}

/* video-player CHKS */

.video-js .vjs-control-bar {
  bottom: 25px !important;
  background-color: rgba(0, 0, 0, 0.26) !important;
  border-top-left-radius: 42px !important;
  border-top-right-radius: 42px !important;
  border-bottom-right-radius: 42px !important;
  border-bottom-left-radius: 42px !important;
  height: 3em !important;
  font-size: 18px !important;
  width: 90% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  border: 0 !important;
  backdrop-filter: saturate(180%) blur(10px);
}

.vjs-error .vjs-error-display .vjs-modal-dialog-content {
  font-size: 24px !important;
  text-align: center !important;
  display: flex !important;
  align-items: flex-end !important;
  color: red;
}

.vjs-big-play-button {
  font-size: 78px !important;
  border-radius: 100px !important;
  background-color: rgba(0, 0, 0, 0.26) !important;
  border-radius: 0.3em;
  line-height: 1.6em !important;
  border: 0px solid #fff !important;
}

.vjs-big-play-centered .vjs-big-play-button {
  backdrop-filter: blur(7px);
}

/* video rtsp */

.vjs-poster {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-color: #000000;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.scroll-line {
  position: fixed;
  height: 5px;
  background: #fff;
  width: 0%;
  z-index: 1;
  left: 0;
  top: 0;
  transition: 0.5s;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 0px solid #fff;
}
::-webkit-scrollbar-track {
  background-color: #000;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

::selection {
  background-color: #673ab7;
}

.button {
  position: fixed;
  bottom: 4rem;
  z-index: 1000;
  background-color: #ffffff17;
  border: 0;
  border-radius: 0 20px 20px 0;
  color: white;
  padding: 15px 24px;
  text-align: center;
  font-size: 23px;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transform: translateX(-191px);
}

.button:hover {
  transition: 0.2s;
  transform: translateX(0px);
}

.button:active {
  transform: scale(0.97);
}
